.container {
    display: grid;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    * {
        display: inherit;
    }
}

.mask {
    grid-template-rows: auto 1fr auto;
    position: relative;

    main {
        min-height: calc(100dvh - 4em);
        place-items: start center;
        padding: 14em 1em 1em 1em;
    }
}
