.main {
    grid-template-columns: auto auto;
    max-width: 90ch;
    gap: 2em;
    place-items: center;
}

.article {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 60ch;
    padding-inline: 1em;

    * {
        display: inline-block;
    }
}

.profileImage {
    padding: 2em;
}

@media only screen and (max-width: 720px) {
    .main {
        gap: 0;
    }

    .profileImage {
        display: none;
    }
}
