.main {
    grid-template-columns: 1fr 1fr;
    max-width: 120ch;
    gap: 2em;
    place-items: center;
}

.article {
    gap: 1em;
    max-width: 80ch;
    padding-inline: 1em;
    place-self: start center;

    > p {
        display: inline-block;

        &:first-child {
            padding-top: 4em;
        }

        * {
            display: inline;
        }
    }
}

.profileImage {
    padding: 2em;
}

@media only screen and (max-width: 720px) {
    .main {
        gap: 0;
    }

    .profileImage {
        display: none;
    }
}
